extends components/base

block head
    script(src='/js/manageGames.bundle.js')

block main
    section
        center
            p
                b Add / remove games from your collection.

    section
        form(action="/manage/search", method="GET")
            input(type='text', name='query', placeholder='Enter Game Name')#boardgame
            input(type="submit", value="Search & Add")

        table
            thead
                tr
                    th Game
                    th Rating
                    th
            tbody
                for thing in things
                    tr
                        td
                            p.no-bottom #[a(href=`/game/${thing.id}`)= thing.name] (#{thing.year_published})
                        td
                            p.no-bottom #{thing.rating}
                        td
                            form(action="/manage/remove", method="POST").no-bottom
                                input(type='hidden', name='game', value=thing.id)
                                input(type='submit', value='Remove').no-bottom.hyperlink
